*{
    padding: 0;
    margin: 0;
}
html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}
:root {
    --material-background: rgba(64, 64, 64, 0.25);
    --material-filter: saturate(150%) blur(10px);
}

.xialiwei_waterfall_layout_item_cards{
/*    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);*/
    overflow-x: hidden;
    overflow-y: auto;
    margin: 10px;
    scrollbar-width: none;
}
.xialiwei_waterfall_layout_item_cards_page{
    position: relative;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.xialiwei_waterfall_layout_item_card{
/*    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);*/
/*    border-radius: 8px; */
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
}


.xhs_note_thumbnail{
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    display: flex;
}
/*.xhs_note_thumbnail::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
    transition: background-color .2s;
    -webkit-transform:translateZ(0);
}
.xhs_note_thumbnail:hover::after{
    background-color: rgba(0, 0, 0, 0.25);
}*/
.xhs_note_thumbnail>.xhs_note_thumbnail_imgs{
    display: flex;
    position: relative;
}
.xhs_note_thumbnail>.xhs_note_thumbnail_imgs>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.xhs_note_thumbnail_imgs_cover{
    position: absolute;
    width: 100%;
    top: 0px;
    height: 100%;
    background-color: transparent;
    transition: background-color .2s;
    -webkit-transform:translateZ(0);
}
.xhs_note_thumbnail_imgs_cover:hover{
    background: rgba(0,0,0,0.25);
}

.xhs_note_thumbnail>.xhs_note_thumbnail_spans{
    position: fixed;
    top: 14px;
    right: 14px;
}
.xhs_note_thumbnail>.xhs_note_thumbnail_spans>span.xhs_note_thumbnail_span{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--material-background);
    -webkit-backdrop-filter: var(--material-filter);
    backdrop-filter: var(--material-filter);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 4px;
}
.xhs_note_thumbnail>.xhs_note_thumbnail_spans>span.xhs_note_thumbnail_span>svg{
    color: white;
}


.xhs_note_title{
    font-size: 14px;
    padding: 12px;
    padding-bottom: 0px;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 140%;
    margin-bottom: -4px;
    font-weight: 400;
}

.xhs_note_creator_author_thumbnail>div{
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 6px;
}
.xhs_note_creator_author_thumbnail>div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.xhs_note_creator_author_name{
    margin-right: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    width:-webkit-fill-available;
    font-weight: 300;
}


.xhs_note_creator{
    display: flex;
    line-height: 20px;
    overflow: hidden;
}
.xhs_note_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}
.xhs_note_likes{
    font-size: 12px;
    font-weight: 300;
    display: flex;
}

.xhs_note_likes>span.xhs_note_likes_span {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: var(--material-background);
    -webkit-backdrop-filter: var(--material-filter);
    backdrop-filter: var(--material-filter);*/
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.xhs_note_likes_num{
    line-height: 20px;
}

.xhs_note_thumbnail_span_audio_tools_audio{
    display: none;
}

.xhs_note_thumbnail_span_audio_tools{
    width: 120px;
    position: absolute;
    top: 0px;
    right: 24px;
    height: 20px;
    border-radius: 11px;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.xhs_note_thumbnail_span_audio_tools_audio_base{
    position: relative;
    width: 100px;
    height: 2px;
    background: #e6e6e6;
    margin: 9px 10px;
    border-radius: 4px;
}
.xhs_note_thumbnail_span_audio_tools_audio_base_line{
    width: 0%;
    height: 2px;
    background: black;
    border-radius: 1px;
}
.xhs_note_thumbnail_span_audio_tools_audio_base_btn{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: white;
    position: absolute;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    margin-top: -5px;
    margin-left: -4px;
    cursor: grab;
    opacity: 1;
    left: 0%;
}

