*{
    padding: 0;
    margin: 0;
}
html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}


.xialiwei_waterfall_layout_item_cards{
/*    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);*/
    overflow-x: hidden;
    overflow-y: auto;
    margin: 10px;
}
.xialiwei_waterfall_layout_item_cards_page{
    position: relative;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.xialiwei_waterfall_layout_item_card{
/*    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);*/
/*    border-radius: 8px; */
    overflow: hidden;
}


.xhs_note_thumbnail{
    border-radius: 16px;
    overflow: hidden;
}
.xhs_note_thumbnail>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.xhs_note_title{
    font-size: 14px;
    padding: 12px;
    padding-bottom: 0px;
}

.xhs_note_creator_author_thumbnail{
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 6px;
}
.xhs_note_creator_author_thumbnail>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.xhs_note_creator_author_name{
    margin-right: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}


.xhs_note_creator{
    display: flex;
}
.xhs_note_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}
.xhs_note_likes{
    font-size: 12px;
}